class $node.getName()
{
 private:
#*	#foreach( $field in $CppFormat.getPrivateFields($node.getFields()) )
	$CppFormat.format($field)
	#end *#
	#foreach( $field in $node.getMethods() )
	$CppFormat.format($field)
	#end
}